[submodule "submodules/quickstart-aws-utility-meter-data-generator"]
	path = submodules/quickstart-aws-utility-meter-data-generator
	url = git@github.com:michlitz/quickstart-aws-utility-meter-data-generator.git
	branch = main
